<div class="container">
  <div class="logo">
    <img src="" alt="">
  </div>
  
  <div class="row">
    <div class="col-xs-8">
      <div class="border">
        <h2 class="text-primary">청소년활동프로그램 검색</h2>
        <p>프로그램 운영기관에서 자율 등록한 프로그램입니다.</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="bg">
            <h3>우수청소년활동 프로그램 검색</h3>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="bg">
            <h3>주요 청소년 정책 소개</h3>
          </div>
        </div>
      </div> <!-- /.row -->
    </div>
  </div> <!-- /.row -->
  
  <div class="row">
    <div class="col-xs-12">
      <div class="border">
        <h2 class="text-primary">운영기관 검색</h2>
        <p>전국에 있는 프로그램 운영기관을 조회하세요.</p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-6">
      <div class="bg">
        <h3>청소년수련활동인증 프로그램 검색</h3>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="bg">
        <h3>사전신고제 신고프로그램 검색</h3>
      </div>
    </div>
  </div>
</div>

