<div class="logo">
  <img src="images/logo.png" alt="" class="center-block">
</div>
<div class="container">  
  <div class="row">
    <div class="col-xs-8">
      <div class="well border box-1">
        <h2 class="text-primary">청소년활동프로그램 검색</h2>
        <p>프로그램 운영기관에서 자율 등록한<br>프로그램입니다.</p>
        <div class="icon-stack-frame">
          <div class="fa-stack">
            <i class="fa fa-search icon-stack-4x"></i>
            <i class="fa fa-user icon-stack-1x"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="well bg bg-lt-blue">
            <h3>우수청소년활동<br>프로그램 검색</h3>
            <div class="icon"><i class="fa fa-thumbs-up fa-4x"></i></div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="well bg bg-teal">
            <h3>주요 청소년<br>정책 소개</h3>
            <div class="icon"><i class="fa fa-list-alt fa-4x"></i></div>
          </div>
        </div>
      </div> <!-- /.row -->
    </div>
  </div> <!-- /.row -->
  
  <div class="row">
    <div class="col-xs-12">
      <div class="well border box-2">
        <h2 class="text-primary">운영기관 검색</h2>
        <p>전국에 있는 프로그램 운영기관을 조회하세요.</p>
        <div class="icon-stack-frame">
          <div class="fa-stack">
            <i class="fa fa-building-o icon-stack-3x"></i>
            <i class="fa fa-search fa-flip-horizontal icon-stack-1x"></i>
            <i class="fa fa-check icon-stack-1x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-6">
      <div class="well bg bg-bl-gray">
        <h3>청소년수련활동인증<br>프로그램 검색</h3>
        <div class="icon"><i class="fa fa-search-plus fa-4x"></i></div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="well bg bg-dk-blue">
        <h3>사전신고제<br>신고프로그램 검색</h3>
        <div class="icon"><i class="fa fa-users fa-4x"></i></div>
      </div>
    </div>
  </div>
</div>

